name: release

on:
  workflow_dispatch: # run manually
  push: # run on matching tags
    tags:
      - '*.*.*'

jobs:
  update-mappings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install -U tox
      - name: Publish package to PyPI
        env:
          FLIT_USERNAME: jadchaar
          FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: tox -e publish
